# Supabase Postgres — transaction pooler для Prisma Client/рантайма
DATABASE_URL="postgresql://postgres.opgqnvtonmahcdwqtfpf:PASSWORD@aws-1-eu-north-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# Supabase Postgres — session pooler для Prisma migrate
DIRECT_URL="postgresql://postgres.opgqnvtonmahcdwqtfpf:PASSWORD@aws-1-eu-north-1.pooler.supabase.com:5432/postgres"

# секрет NextAuth (сгенерировать: `npx auth secret` или openssl rand -base64 32)
AUTH_SECRET=""

# адрес деплоя/локалки — нужен для callback'ов NextAuth
NEXTAUTH_URL="http://localhost:3000"
